@font-face {
  font-family: 'Bogart';
  src: url('./assets/fontes/Bogart-Light-trial.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fontes/Montserrat-Regular.woff2') format('woff2');
}

.universidade {
  font-family: 'Montserrat', serif;
  user-select: none;
  font-size: 20px
}

.gerenciamento {
  user-select: none;
  font-size: 30px;
  font-family: 'Montserrat', serif;
}

.campo1{
  user-select: none;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 3px;
  outline: none;
  border: none;
  width: 180px;
  background-color: #00000000;
  font-family: 'Montserrat', serif;
  color: #3a3a3a;
}

.campo2{
  user-select: none;
  font-size: 22px;
  margin-left: 25px;
  margin-top: 3px;
  outline: none;
  border: none;
  width: 180px;
  background-color: #00000000;
  font-family: 'Montserrat', serif;
  color: #3a3a3a;
}

.letreiro {
  user-select: none;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Bogart', serif;
  color: rgb(0, 0, 0);
  margin-top: 120px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 10px #08080857;
}

.letreiroDiscoInput{
  user-select: none;
  font-family: 'Montserrat', serif;
  display: flex;
  font-size: 22px;
  margin-top: 3px;
  margin-left: 25px;
  color:black;
}

.discoInput{
  user-select: none;
  display: flex;
  align-items: center;
  background-color: #f1e3c9;
  width: 340px;
  height: 70px;
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.botaoCadastro {
  background-color:#f6f6f600;
  width: 300px;
  height: 50px;
}