@font-face {
  font-family: 'Bogart';
  src: url('./assets/fontes/Bogart-Light-trial.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fontes/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sifonn';
  src: url('./assets/fontes/Syphon-Bold.woff2') format('woff2');
}

.overFlowY::-webkit-scrollbar {
  display: none;
}

.nomeFlex {
  flex: 1;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 15px;
}

.letreiro5 {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 40px;
  color:#ffffff;
  
}

.megablocored {
  background-color: #cd5151;
  width: 100%;
  height: 100px;
}

.letreiro4 {
  font-family: 'Montserrat', serif;
  letter-spacing: 1px;
  font-size: 40px;
}

.campo3 {
  border: none;
  outline: none;
  font-size: 14px;
  width: 150px;
}

.linhavertical{
  background-color: #4e4e4e;
  width: 1px;
  height: 40px;
  margin-left: 10px;
  margin-right: 15px;
}

.campo4 {
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  width: 270px;
}

.procurando2 {
  background-color: #ffffff;
  border-style: solid;
  border-color: #4e4e4e;
  border-width: 1px;
  height: 60px;
  width: 400px;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;}

.procurando {
  background-color: #ffffff;
  border-style: solid;
  border-color: #4e4e4e;
  border-width: 1px;
  height: 40px;
  width: 250px;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 0px 1px #c60006;
  display: flex;
  justify-content: center;
  align-items: center;}

.linhavermelha {
  width: 250px;
  height: 5px;
  border-radius: 0.2rem;
  background-color: #900002;
  border: none;
}

.letreiro3 {
  letter-spacing: 2px;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 30px;
}

.blocaoPreto {
  background-color: #222222;
  height: 65px;
  margin: 10px 10px 0px 10px;
  border-radius: 0.8rem;
}

.letreiro2 {
  text-shadow: 5px 0px 2px #000000fd;
  user-select: none;
  color: #000000;
  font-family: 'Sifonn', serif;
  letter-spacing: 2px;
  font-size: 90px;
}

.blocaoVermelho {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #c60006;
  height: 200px;
  border-radius: 1rem;
}

.bloquinhoAmarelo {
  user-select: none;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: none;
  height: 45px;
  width: 210px;
  border-radius: 1.0rem;
  background-color: #f4ae31;
  transition: 0.8s, ease;
}

.bloquinhoAmarelo:active {
  box-shadow: none;
}

.bloquinhoAmarelo:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px 1px #000000;
}

.universidade {
  font-family: 'Montserrat', serif;
  user-select: none;
  font-size: 20px
}

.gerenciamento {
  user-select: none;
  font-size: 30px;
  font-family: 'Montserrat', serif;
}

.campo1{
  user-select: none;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 3px;
  outline: none;
  border: none;
  width: 180px;
  background-color: #00000000;
  font-family: 'Montserrat', serif;
  color: #3a3a3a;
}

.campo2{
  user-select: none;
  font-size: 22px;
  margin-left: 25px;
  margin-top: 3px;
  outline: none;
  border: none;
  width: 180px;
  background-color: #00000000;
  font-family: 'Montserrat', serif;
  color: #3a3a3a;
}

.letreiro {
  user-select: none;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Bogart', serif;
  color: rgb(0, 0, 0);
  margin-top: 120px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 10px #08080857;
}

.cadastroVoltar {
  user-select: none;
  cursor: pointer;
  color: black;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 0.8rem;
  background-color: #797979;
  box-shadow: 0px 1px 2px 0px #000000;
  transition: 0.08s;
}

.cadastroVoltar:hover {
  box-shadow: 0px 2px 2px 1px #000000be;
  transform: translateY(-2px);
}

.cadastroVoltar:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px 0px #000000;
}

.letreiroDiscoInput{
  user-select: none;
  font-family: 'Montserrat', serif;
  display: flex;
  font-size: 22px;
  margin-top: 3px;
  margin-left: 25px;
  color:black;
}

.letreiroDiscoInput2{
  user-select: none;
  font-family: 'Montserrat', serif;
  display: flex;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 25px;
  color:black;
}

.discoInput2{
  user-select: none;
  display: flex;
  align-items: center;
  background-color: #f1e3c9;
  width: 400px;
  height: 70px;
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.enviarCadastro {
  user-select: none;
  cursor: pointer;
  color: black;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 0.8rem;
  background-color: #c78787;
  box-shadow: 0px 1px 2px 0px #000000;
  transition: 0.08s;
}

.enviarCadastro:hover {
  box-shadow: 0px 2px 2px 1px #000000be;
  transform: translateY(-2px);
}

.enviarCadastro:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px 0px #000000;
}

.discoInput{
  user-select: none;
  display: flex;
  align-items: center;
  background-color: #f1e3c9;
  width: 340px;
  height: 70px;
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.botaoCadastro {
  background-color:#f6f6f600;
  width: 300px;
  height: 50px;
}